<section>
<h1><span data-i18n="skills.my_skills">About</span></h1>
<p class="about">
    운동과 여행을 사랑합니다.
    현재는 Gmarket (eBay Korea)에서 프론트엔드 엔지니어로 일하고 있으며, Gmarket/Auction의 장바구니/주문서를 담당하며 주문/결제 도메인에 관심이 많습니다.
    복잡한 일을 단순하게 처리하길 좋아하며, 작은 일에 성실한 사람이 큰 일을 이룰 수 있다는 신념을 따라 살고 있습니다.
    
</p>
<p class="about">
    Hi there,
    I love to do exercise (ex- yoga, running, tennis, weight...) and travel around the world
    I've been working as frontend developer @Gmarket (eBay Korea) with lots of interests in both order & payment.
    I like to make complicate things simple, and I follow by 'faithful in that which is least is faithful also in much' above everyhing else :-)
</p>
<p class="about">
    <a href="https://www.notion.so/e80a0de0d1a5406fa854a3a6f94834ed">Resume</a>
</p>
</section>
